.formSection {
    margin-top: 4em;
    position:  relative;
    z-index:999;
}

.formSt{
    width: 50%;
    margin: 100px auto;
    // background-image: linear-gradient( to bottom, orange, white, green);
    background-color: green;
    border-radius: 10px;
    // margin: 20px 20px;
}

.formfields{
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.fields {
    display: grid;
    grid-row-gap: 10px;
}

.formDiv{
    width: 40em;
}

.fields input {
    display: block;
    width: 100%;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fields textarea {
    display: block;
    width: 100%;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fields input:focus {
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(1, 13, 246, 0.25);
}

.fields textarea:focus {
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(1, 13, 246, 0.25);
}


.fields label {
    color: white;
    font-size:1.4rem;
    font-family: "Press Start 2P", cursive;
}

.subBtn {
    display: flex;
}

button {
    margin: auto;
    height:50px;
    width: 100px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-weight: 900;
    font-family:"Press Start 2P", cursive;
    border: 1px transparent;
    // background-image: linear-gradient();
}

button:hover {
    color: green;
    background-color: white;
    box-shadow: -10px 0 10px rgb(255, 255, 255),10px 0 10px rgb(255, 255, 255), 0 -10px 10px rgb(255, 255, 255),0 10px 10px rgb(255, 255, 255);
}

.errorDisplay{
    margin-top: -7px;
    color: white;
}

.formSuccess {
    margin: 30px 0px;
    display: block;
}

.formFailure {
    display: none;
}

.successSvg {
    height: 150px;
}

.messageCont {
    padding: 80px 0px;
    text-align: center;
}

.messageLine {
    width: 70%;
    margin:auto;
}

.messageLine .submitLineOne{
    color: white;
    font-size: 1.6rem;
    font-family: "Press Start 2P", cursive;
    line-height: 40px;
}

.messageLine .submitLineTwo{
    color: white;
    line-height: 40px;
    font-size: 1.2rem;
    font-family: "Press Start 2P", cursive;
}

@media (max-width:767px) {
    .formSt{
        width: 85%;
        margin: 50px auto;
    }

    .fields label {
        font-size: 1rem;
    }

    .fields input{
        padding: 0.5rem 0.55rem;
    }

    .titleDiv {
        padding-top: 20px;
    }

    .messageLine .submitLineOne{
        color: white;
        font-size: 1rem;
        font-family: "Press Start 2P", cursive;
        line-height: 40px;
    }
    
    .messageLine .submitLineTwo{
        color: white;
        line-height: 40px;
        font-size: 0.9rem;
        font-family: "Press Start 2P", cursive;
    }

    .successSvg {
        height: 100px;
    }

    .messageCont{
        padding: 40px 0px;
    }
}