/* Import the Press Start 2P font for this component */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.title {
  margin-top:15px;
  z-index: 3;
  font-size: 2.5em;
  font-family: "Press Start 2P", cursive;
  animation: fadeIn 2s ease-in-out, moveUp 2s ease-in-out;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  .title {
    font-size: 3.5em;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 3em;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.3em;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 1.5em;
  }
  .title-section {
    height: 15vh;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 1.5em;
  }
  .title-section {
    height: 15vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
