.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px){
  .containers {
    max-width: 540px;
  }
}

@media (min-width: 768px){
  .containers {
    max-width: 720px;
  }
}

@media (min-width: 992px){
  .containers {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .containers {
    max-width: 1140px;
  }
}

@media (max-width: 350px){
  body {
    width:350px;
  }
}

body {
  margin:0px;
}

.titleDescSection {
  overflow: hidden;
  padding-bottom: 3%;
}